@import "tailwindcss";

*{




    
font-family: Outfit;
 .font-Ovo{font-family: ovo, sans-serif; lighthover: '#fcf4ff'; darkHover: "#2a004a", darkTheme "1101F";}
 .font-outfit{font-family: Outfit, sans-serif; lighthover: '#fcf4ff'; darkHover: "#2a004a", darkTheme "1101F";}
 
}
.box-shadow-custom {
  box-shadow: 4px 4px 0 #000;
}

.box-shadow-white {
  box-shadow: 4px 4px 0 #fff;
}

.gridTemplateColumns {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
 

